@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}


@mixin respond($breakpoint) {
    @if $breakpoint == phone  {
        @media only screen and (max-width: 37.5em) { @content }; // 600
    }

    @if $breakpoint == tab-port  {
        @media only screen and (max-width: 56.25em) { @content }; // 900
    }

    @if $breakpoint == tab-land  {
        @media only screen and (max-width: 75em) { @content };  // 1200
    }

    @if $breakpoint == large  {
        @media only screen and (max-width: 112.5em) { @content };  // 1800
    }
}






























































