// COLORS
$color-primary: #55c57a;
$color-white: #fff;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


//FONT
$default-font-size: 1.6rem;
$heading-font-size: 2rem;